
.search-list {
	width: 200px;
	z-index: 200;
	position: absolute;
	top:56px;
	right: 0px;
	height: calc(100vh - 56px);
	overflow-y: scroll;
}
.search-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.search-list li {
	color: #A81E4F;
	padding: 16px;
	font-size: 1em;
	width: 100%;
	background-color: #F0F0F3;

}

.search-list li:hover,
.search-list li:active {
	background-color: #EA79B8;
	cursor: pointer;
}
