.toolbar {
  position: absolute;
  top:0;
  right: 0;
  width: 100vw;
  background: #A41E4D;
  height: 56px;
}

.toolbar-navigation {
  display: flex;
  height: 100%;
  align-items: center;
}

.toolbar-menu,
.toolbar-search-icon {
  background-color: #A41E4D;
  border: none;
  color: #FAFAFA;
  padding: 12px 16px;
  font-size: 24px;
  cursor: pointer;
}

.toolbar-search-icon.close {
  display: none;
}

.toolbar-logo.close {
  width: 0;
}

.toolbar-logo h1{
  font-size: 1.5em;
  font-weight: 300;
  color: #FAFAFA;
  overflow: hidden;
  white-space: nowrap;
}

.toolbar-search-input.open {
  padding: 6px;
  font-size: 1.2em;
  width: calc(100% - 54px);
  margin: 0;
  border-width: 0 0 1px 0;
  margin-right: 16px;
  color:#FAFAFA;
  opacity: 0.9;
  transition: width 0.4s linear;

}

.toolbar-search-input {
  width: 0;
  border-width: 0;
  background-color: #A41E4D;
}

.toolbar-search-input::placeholder {
  color: #FAFAFA;
  opacity: 0.7; 
}

.toolbar-search-input:focus {
  outline: none;
}

.spacer {
  flex: 1;
}

@media screen and (min-width: 1025px) {
  .toolbar {
    width: 80%;
  }
  .toolbar-menu {
    display: none;
  }
  .toolbar-logo {
    margin-left: 16px;
  }

  .toolbar-search-input.open {
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .toolbar-logo.close {
    display: block;
  }
  .toolbar-logo.close {
    width: fit-content;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .toolbar-search-input.open {
    width: 50%;
  }

}