.side-drawer {
  height: 100%;
  background-color: #FAFAFA;
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5) ;
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  max-width: 250px;
  z-index: 200;
  transform: translateX(-100%);
  overflow-y: auto;
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.options-button {
  width: 100%;
  margin: 0;
  background-color: #FAFAFA;
  border-style: solid;
  border-color: transparent;
  border-width: 5px;
  color: #A41E4D;
  padding: 16px 16px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}

.options-button:hover {
  background-color: #D61A8E;
  color: #FAFAFA;
}

.options-button.clicked:hover {
  background-color: #D61A8E;
  color: #FAFAFA;
}

.options-button.clicked {
  background-color: #F7BBD9;
}

.side-drawer-icons {
  margin-right: 8px;
}

.info {
  margin-right: 16px;
}

@media screen and (min-width: 1025px) {
  .side-drawer {
    max-width: 20%;
    transform: translateX(0);
    transition: transform 0.0s;
  }
}

/*#A90A24
#A41E4D
#A81E4F
#962756
#EA79B8
#A1126A
#C1227A
#D61A8E
#EA79B8
#F7BBD9
#701033
#121212
#79C6D2*/