.side-drawer {
	height: 100%;
	background-color: #fefafc;
	box-shadow: 1px 0px 7px rgba(0,0,0,0.5) ;
	position: fixed;
	top: 0;
	left: 0;
	width: 70%;
	max-width: 350px;
	z-index: 200;
	transform: translateX(-100%);
	overflow-y: scroll;
	transition: transform 0.3s ease-out;
}

.side-drawer.open {
	transform: translateX(0);
}

.side-drawer ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 0 16px 16px 16px;
}

.side-drawer li {
	margin: 0.5em 0;
	font-size: 1.2em;
}

.side-drawer li:hover,
.side-drawer li:active {
	color: #a51874;
	cursor: pointer;
}

.search-input {
	padding: 8px;
	margin: 16px 0px 0px 16px;
	font-size: 1em;
}

.radio-group {
	width: 100%;
	padding: 8px 8px 8px 0px;
	border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #cf6cd0;
}
.radio-option {
	width: 100%;
	padding: 8px;
	font-size: 1.2em;
}

