* {
	box-sizing: border-box;
}

html, 
body {
	width: 100vw;
	height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;

}

.App {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  color: #362433;
}

main {
  width: 100%;
  position: absolute;
  top: 56px;
  right: 0;
  height: calc(100vh - 56px);
}

h1, h2, h3 {
  margin: 0px;
}

@media screen and (min-width: 1025px) {
  main {
    width: 80%;
  }
}